@font-face {
  /* Regular 400 */
  font-family: Poppins-Regular;
  src: url(../../Poppins/Poppins-Regular.ttf);
}

@font-face {
  /* Light 500 */
  font-family: Poppins-Medium;
  src: url(../../Poppins/Poppins-Medium.ttf);
}
@font-face {
  /* Light 600 */
  font-family: SemiBold;
  src: url(../../Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  /* Light 700 */
  font-family: Poppins-Bold;
  src: url(../../Poppins/Poppins-Bold.ttf);
}
@font-face {
  /* Light 700 */
  /* font-family:  Montserrat-Bold; */
  /* src: url(../Font/Montserrat-Bold.ttf); */
}

/* Sidebar styles remain the same */
.sidebar {
  width: 257px !important;
  overflow: hidden;
  flex: 0 0 auto;

  min-width: 257px;
  max-width: 257px;

  background-color: white;
  padding: 1.045%;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 8px;
}
.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: rgba(239, 241, 243, 1);
  border-radius: 35px;
  padding: 10px;
  justify-content: space-between;
}
.profile-section-mobile-pic {
  display: none;
}

/* Profile styles remain the same */
.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* margin-right: 10px; */
}

.profile-info p {
  font-family: Poppins-Medium;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  text-overflow: ellipsis;
  width: 108px;
  overflow: hidden;
  white-space: nowrap;
}
.profile-info span {
  font-family: Poppins-Regular;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.profile-menu-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
/* Overlay for dimming background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 5; /* Make sure it's behind the dropdown menu */
}

/* Profile Dropdown Menu */
.profile-dropdown-menu {
  position: absolute;
  top: 186px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 88px;
  z-index: 10;
  left: 65px;
}

.profile-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 3px 5px;
}

.profile-dropdown-menu li {
  margin: 7px 0px;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 6px;
}

.profile-dropdown-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 20px;
}
.profile-dropdown-menu li a {
  margin: 1px 6px;
  text-decoration: none;
  color: black;
  font-family: Poppins-Regular;
  font-weight: 400;
  font-size: 16px;
}
/* Menu styles */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

/* Split effect only on the active item */
.menu-item.active::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 7.5px 7.5px 0 7.5px rgba(239, 241, 243, 1);
}

.menu-item.active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 7.5px -7.5px 0 7.5px rgba(239, 241, 243, 1);
}

.menu-item.active {
  background: rgba(239, 241, 243, 1);
}

.menu-icon {
  font-size: 18px;
  margin-right: 26px;
  color: #4a4a4a;
}

.menu-item span {
  font-family: Poppins-Regular;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

/* Responsive Sidebar Hover from 1600*/
@media (max-width: 1600px) and (min-width: 1024px) {
  .sidebar {
    width: 45px !important;
    overflow: hidden;
    flex: 0 0 auto;

    min-width: 45px;
    max-width: 45px;
  }
  .sidebar:hover {
    width: 257px !important;
    transition: 0.1s;
    flex: 0 0 auto;
    overflow: hidden;
    min-width: 275px;
    max-width: 275px;
  }
  
  

  .profile-info {
    overflow: hidden;
    padding: 0 31px 0 17px;
  }
  .profile-menu-btn {
    overflow: hidden;
    border: unset;
  }
  .profile-section-mobile-pic {
    display: block;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    padding: 10px;
  }
  .profile-section {
    display: none;
  }
  .sidebar:hover .profile-section-mobile-pic {
    display: none;
  }
  .sidebar:hover .profile-section {
    display: flex;
  }
}

/* Responsive adjustment */
@media (max-width: 1150px) {
  .sidebar {
    position: relative;
    height: auto;
    display: none;
  }
}
