.nav-width-100 {
  height: 70px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* padding: 0 20px; */
    top: 0;
    position: fixed; /* Navbar fixed at the top */
    width: 100%; /* Full width navbar */
    /* z-index: 1000;  */
}
/* .nav-width-100 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay-ham{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  
  z-index: 20;
  max-width: 205px;
  min-width: 50px;
  width: 100%;
  height: 122px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  height: 86px;
    padding: 18px 0;
  /* margin: -8px; */
  margin: 0px;
}

.dropdown-menu li {
  /* padding: 6px 0px;  */
  cursor: pointer;
  margin: 3px 0;
  
  border-radius: 12px;
  height: 25px;
  display: flex;
  /* text-align: center; */
  align-items: center;
}
.dropdown-menu li a {
  padding: 3px 0 3px 15px;
  text-decoration: none;
  color: black;
  font-family: Poppins-Regular;
  font-weight: 400;
  font-size: 16px;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
 
}
.filta-logo-web {
  display: block;
  padding: 0 0 0 20px;
}
.nav-dot{
  padding: 0 20px 0 0;
}
.flex-logo-hambergur {
  display: none;
}
@media (max-width: 1150px) {
  .filta-logo-web {
    display: none;
  }
  .flex-logo-hambergur {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 0 15px 0 25px;
  }

  .hamburger-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .flex-logo-hambergur {
    gap: 15px;
    padding: 0 15px 0 10px;
  }
}