.ct-addmore {
  padding: 15px 31px;
  display: flex;
  gap: 15px;
  align-items: center;
  text-align: center;
}
.ct-addmoreflex {
  padding: 8px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.ct-addmoreflex img {
  height: 14px;
  width: 14px;
}
.ct-addmoreflex p {
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  line-height: 21px;
  margin-top: 5px;
}
.ct-addlinkmain {
  display: flex;
  gap: 15px;
}
.ct-addlink {
  padding: 7px 12px 6px 13px;
  background-color: #ffffff;
  border-radius: 10px;
}
.ct-addlink img {
  width: 35px;
  height: 35px;
}
.ct-addlink p {
  font-family: Poppins-Medium;
  font-weight: 500;
  font-size: 12px;
}

/* Last box */
.ct-margin {
  margin: 15px 31px;
}
.ct-tworadio {
  display: flex;
  gap: 10px;
}
.ct-orignal,
.ct-outline {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}
.ct-tworadio label {
  font-family: Poppins-Medium;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.ct-linkbox {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  /* height: auto; */
}
.ct-titlemain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ct-logotitle {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.ct-logotitle img {
  width: 35px;
  height: 35px;
}
.ct-logotitle p {
  font-family: Poppins-Medium;
  font-weight: 500;
  font-size: 12px;
}
.ct-twobtnmain {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
}
.ct-deltbtn,
.ct-dotbtn {
  background-color: #eff1f3;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
.ct-linkform {
  margin-top: 15px;
}
.ct-fwidth {
  width: 100%;
  margin-bottom: 15px;
}
.ct-fwidth label {
  font-size: 16px;
  font-family: Poppins-Regular;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
  color: #000;
}
.ct-fwidth input {
  width: 100%;
  background-color: #eff1f3;
  border-radius: 5px;
  height: 42px;
  border: 1px solid #eff1f3;
  color: #00000080;
  font-size: 16px;
  font-family: Poppins-Regular;
  font-weight: 400;
  box-sizing: border-box;
  padding: 10px;
}

/* model */
.modal-AllLink {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  border-radius: 20px;
  width: 920px;
}
.modal-content p {
  font-size: 16px;
  font-family: Poppins-Regular;
  font-weight: 400;
  padding: 10px 25px;
}
.md-title {
  border-top: 1px solid #e7ecef;
  border-bottom: 1px solid #e7ecef;
  margin-top: 25px;
}
.s-alllink {
  margin: 15px 25px;
  /* display: flex;
  gap: 15px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.s-link {
  background-color: #eff1f3;
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.s-imgtitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.s-imgtitle img {
  width: 35px;
  height: 35px;
}
.s-imgtitle p {
  font-size: 16px;
  font-family: Poppins-Regular;
  font-weight: 400;
  padding: 0;
}
.s-plusbtn img {
  width: 14px;
  height: 14px;
}

/* Drop-Down style */
.drpBox-container {
  /* padding-top: 5px; */
  height: 826px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.drpbox-set {
  margin: 15px 41px 0;
}

.link-padd {
  padding: 5px 21px;
}
@media (max-width: 1150px) and (min-width: 1025px) {
  .drpbox-set {
    margin: 20px 15px 0 31px;
  }
}
@media (max-width: 1024px) {
  .drpbox-set {
    margin: 20px 15px 0 31px;
  }

  .modal-content p {
    font-size: 16px;
    font-family: SemiBold;
    font-weight: 600;
  }
  .s-link {
    width: 100%;
    max-width: 212px;
    min-width: 50px;
    height: 40px;
  }
  .s-link p {
    font-size: 16px;
    font-family: Poppins-Regular;
    font-weight: 400;
  }
  .s-alllink {
    margin: 12px 20px 13px;
    gap: 13px 12px;
  }
  .md-title {
    margin-top: 20px;
  }
  .s-imgtitle img {
    width: 30px;
    height: 30px;
  }
  .s-plusbtn img {
    width: 11.4px;
    height: 11.4px;
  }
}

@media (max-width: 768px) {
  .drpbox-set {
    margin: 20px 7px 0;
  }
  .ct-addmore {
    padding: 15px 2px;
  }
  .ct-margin {
    margin: 15px 2px 2px;
  }
  .modal-content {
    height: 620px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .s-alllink {
    margin: 15px 10px;
    /* gap: 15px 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px 10px;
  }
  .s-imgtitle img {
    width: 28px;
    height: 28px;
  }
  .s-link p {
    font-size: 14px;
  }
  .s-link {
    width: 100%;
    max-width: 170px;
    min-width: 50px;
    height: 40px;
  }
}
@media (max-width: 392px) {
  .s-alllink {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
