* {
  margin: 0;
  padding: 0;
}
.di-margin {
  margin: 20px 41px;
  /* height: 100vh; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc white;
  height: calc(88vh - 130px); /*Add for set height accroding to screen by R*/

}
.di-maindiv {
  /* height: 277px; */
  border-radius: 10px;
  background-color: #eff1f3;
  overflow: hidden;
}
.di-title p {
  padding: 25px 30px;
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  color: #000000;
}
.di-info {
  margin: 15px 30px;
  background-color: #ffffff;
  /* height: 173px; */
  border-radius: 10px;
}
.di-info p {
  font-size: 14px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #4f4f4f;
  padding: 15px 0 8px 15px;
}
.di-threebtn {
  display: flex;
  /* height: 118px; */
  gap: 25px;
  justify-content: space-between;
  padding: 0 15px 25px 15px;
}
.di-lftbtn,
.di-ctrtbtn,
.di-rgtbtn {
  background-color: #eff1f3;
  width: 197px;
  height: 59px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.di-threebtn label {
  font-size: 14px;
  font-family: SemiBold;
  font-weight: 600;
  line-height: 21px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Input styling */
.di-threebtn input {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
  position: relative;
}
.di-threebtn input[type="radio"]:checked {
  border-color: black;
}
.di-threebtn input[type="radio"]:checked::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btnmargin-20 {
  margin-top: 20px;
}
.btnmargin-10 {
  padding-top: 10px;
}
.di-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 0 15px 15px;
}
.di-cancel,
.di-save {
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
}
.di-cancel {
  background-color: #ffffff;
  padding: 5px 14px;
  border: 1px solid #e2e2e2;
}
.di-save {
  background-color: #000;
  color: #fff;
  padding: 5px 35px;
}

/* seconend Box */
.di-seconedbox {
  /* height: 504px; */
  border-radius: 10px;
  background-color: #eff1f3;
  margin-top: 35px;
  overflow: hidden;
}
.rmvmargin35 {
  margin-top: 0;
}
.di-sectitle p {
  padding: 25px 30px;
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  color: #000000;
}
.di-secinfo {
  /* height: 400px; */
  border-radius: 10px;
  margin: 15px 30px;
  padding: 15px;
  background-color: #ffffff;
}
.di-secinfo p {
  font-size: 14px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 8px;
}
.di-fltbox {
  background-color: #eff1f3;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px 15px;
}
.di-arrowimg {
  height: 30px;
  width: 30px;
  /* border: 1px solid red; */
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.di-arrowimg img {
  width: 15px;
  height: 17.5px;
}

/* color btn */
.color-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* padding: 20px 96px; */
}
.di-twoinput {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 372px;
  position: relative;
}

#color-code {
  background-color: transparent;
  max-width: 372px;
  min-width: 100px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 0 0 12px;
  border: 1px solid #0000001a;
}

input[type="color"] {
  border: none;
  outline: none;
  appearance: none;
  padding: 0;
  background: none;
  width: 33px;
  height: 34px;
  cursor: pointer;
  margin: 3px;
}
#color-picker {
  position: absolute;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 18px;
}
/* Button Styling */
#search-button {
  /* padding: 8px; */
  border: 1px solid #0000001a;
  border-radius: 5px;
  /* background-color: white; */
  cursor: pointer;

  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-button:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}
.di-grdbox {
  background-color: #eff1f3;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 20px 15px;
}

/* thired Box */
.di-thrdbox {
  border-radius: 10px;
  background-color: #eff1f3;
  margin-top: 35px;
  overflow: hidden;
}
.di-thrdtitle p {
  padding: 25px 30px;
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  color: #000000;
}
.di-thrdinfo {
  border-radius: 10px;
  margin: 15px 30px;
  padding: 15px;
  background-color: #ffffff;
}
.di-thrdinfo p {
  font-size: 14px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 8px;
}
.di-choosebox {
  background-color: #eff1f3;
  border-radius: 5px;
  margin-bottom: 25px;
}
.thr-padding {
  padding: 15px;
}
.trd-color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  /* padding: 20px; */
}
.trd-twoinput-container {
  display: flex;
  flex-direction: column;
  max-width: 444px;
  width: 100%;
  gap: 5px;
}
.trd-twoinput-container label {
  font-size: 12px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #4f4f4f;
}
.thr-inputandbtn {
  display: flex;
  gap: 25px;
}
.trd-twoinput {
  max-width: 372px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#thr-color-code {
  padding: 0 0 0 12px;
  border: none;
  background: transparent;
  max-width: 372px;
  min-width: 100px;
  width: 100%;
  height: 40px;
}
#thr-color-picker {
  position: absolute;
  right: 1px;
  border-radius: 3px;
}
.margin-botm {
  margin-bottom: 15px;
}
.delpadding {
  padding: 0;
}
.delmargin {
  margin: 0;
}
#color-code,
#thr-color-code {
  font-size: 14px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #00000080;
  outline: none;
}
/* Font Style & Font Color Box */
.di-forbox {
  padding: 15px;
}
.di-txtclrbox {
  padding: 15px;
}
.di-forbox select {
  width: 100%;
  border-radius: 5px;
  background-color: #eff1f3;
  height: 42px;
}
/* drop down */

.di-text {
  font-size: 16px;
  font-weight: bold;
}

/* DropDown design */
.drp-dropdown {
  padding: 15px 15px 0 15px;
}
.drp-dropdown-main {
  position: relative;
  padding: 0 0 15px;
}

/* Input and dropdown arrow */
.drp-dropdownbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 42px;
  background-color: #eff1f3;
  padding: 0 11px 0 15px;
  border-radius: 5px;
}
.h-42 {
  height: 42px !important;
}

.Premium-cutomize-field-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  cursor: pointer;
  padding: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.5);
}

/* Dropdown arrow */
.drp-dropdown-arrow {
  margin-left: 8px;
  font-size: 12px;
  transition: transform 0.5s ease;
}

.drp-dropdown-arrow.rotate {
  transform: rotate(180deg);
}

/* Dropdown styles */
.drp-optionbox {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background: #eff1f3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  z-index: 10;
}

/* Open and close animation */
.drp-optionbox.open {
  max-height: 300px;
  opacity: 1;
  font-family: Poppins-Regular;
  line-height: 27px;
}

.drp-optionbox.closed {
  max-height: 0;
  font-family: Poppins-Regular;
  line-height: 27px;
}

/* Dropdown options */
.drp-option {
  padding: 8px 12px;
  cursor: pointer;
}

.drp-option:hover {
  background: #ffffffb2;
}

/* Theme Box*/
.thm-theme {
  display: flex;
  align-items: center;
  gap: 15.8px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}
.thm-layout {
  width: 87px;
  background-color: #eff1f3;
  height: 152px;
  border-radius: 5px;
  flex-shrink: 0;
}

/* QR Code Css */
.delthight{
  /* height: auto; */
  height: calc(88vh - 130px); /*Add for set height accroding to screen by R*/

}
.qr-logobox {
  background-color: #eff1f3;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-addlogo {
  text-align: center;
  border: 1px solid #0000001a;
  margin: 20px 0;
  padding: 15px 25px;
  border-radius: 5px;
}
.qr-addlogo p {
  font-size: 16px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #000;
  margin: 0;
}

/* qr right panel */
.qr-imgmain {
  border: 1px solid #eff1f3;
  padding: 42px 60px;
  border-radius: 10px;
}
.qr-imgdiv {
  padding: 10px;
  /* border: 1px solid #eff1f3; */
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}
.qr-code-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc white;
  height: calc(60vh - 130px); /*Add for set height accroding to screen by R*/
}
.qr-code-panel p {
  margin: 20px 0;
  font-family: Poppins-Medium;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.qr-imgmain {
  position: relative;
  display: inline-block;
}

.qr-imgdiv {
  position: relative;
}

.qrimg {
  display: block;
  width: 114px;
  height: 114px;
}

.qrlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 27px;
}

/* Responsive Upto-1024 */
@media (max-width: 1282px) and (min-width: 1025px) {
  .di-margin {
    margin: 20px 15px;
  }
  .di-title p,
  .di-sectitle p,
  .di-thrdtitle p {
    padding: 25px 10px;
  }
  .di-secinfo,
  .di-info,
  .di-thrdinfo {
    margin: 15px 11px 15px 10px;
  }
}

@media (max-width: 1024px) {
  .di-margin {
    margin: 20px 15px;
  }
  .di-secinfo,
  .di-info,
  .di-thrdinfo {
    margin: 15px 11px 15px 10px;
  }
  .di-title p,
  .di-sectitle p,
  .di-thrdtitle p {
    padding: 25px 10px;
  }
  .delmargin {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .di-margin {
    margin: 19px 7px;
  }
  .di-secinfo,
  .di-thrdinfo {
    margin: 15px 2px 2px;
    padding: 15px 7px;
  }
  .delpadd {
    padding: 15px 0;
  }
  .di-info {
    margin: 15px 2px 2px;
  }
  .di-info p {
    padding: 15px 7px 8px;
  }
  .di-threebtn {
    padding: 0 7px 25px;
  }
  .di-buttons {
    padding: 0 7px 15px;
  }
  .di-title p,
  .di-sectitle p,
  .di-thrdtitle p {
    padding: 25px 8px;
  }
  .di-fltbox,
  .di-grdbox {
    background-color: white;
    padding: 0;
  }
  /* .color-picker-container {
    justify-content: left;
  } */
  .di-choosebox {
    background-color: unset;
  }
  .drp-dropdown {
    padding: 15px 0;
  }
  .di-txtclrbox,
  .di-forbox {
    padding: 15px 0;
  }
  .thr-padding {
    padding: 15px 0;
  }
  .qr-logobox {
    background-color: white;
    justify-content: left;
  }
  .qr-addlogo {
    margin: 0;
  }
}
