.drp-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin: 15px 41px 0; */
  /* position: relative; */
  /* height: 73px; */
  height: auto;
  margin-bottom: 15px;
}
.drp-container {
  background-color: #eff1f3;
  border-radius: 10px;
  /* height: 24px; */
  
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.drp-dropdownmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 17.5px 24px 31px;
  position: relative;
 
}
.drp-dotscircle {
  width: 32px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  
  transform: translate(-50%, -50%);
  background-color: #eff1f3;
  cursor: pointer;
  z-index: 0;
  left: 0;
}
.drp-dots-icon {
  width: 9px;
  height: 13px;
}
.drp-text {
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  color: #000;
  flex: 1;
  /* margin-left: 15px; */
}
.drp-arrow-icon {
  width: 15px;
  height: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .drp-dotscircle {
    transform: translateY(-50%);
    left: 10px;
  }
  .drp-text{
    margin-left: 25px;
  }
}
