.modal-overlay-p-g {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-p-g {
  background: white;
  padding: 10px;
  border-radius: 8px;
  max-width: 870px;
  min-width: 200px;
  width: 100%;
  /* height: 281px; */
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close-p-g {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-pg-container-white {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 10px;
}
.img-modal-pg-container {
  display: flex;
  max-width: 250px;
  min-width: 100px;
  width: 100%;
}
.prd-prodimg-modal-pg {
  width: 250px;
  /* height: 281px; */
  object-fit: cover;
}
.input-f-p-g-title {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 24px;
}
.desc-flex-p-g {
  display: flex;
  flex-direction: column;
}
.imput-p-g {
  width: 290px;
  /* min-width: 100px;
  width: 100%; */
  border-radius: 8px;
  background-color: #eff1f3;
  height: 45px;
  color: #00000080;
  font-size: 16px;
  padding: 10px;
  border: unset;
  box-sizing: border-box;
  font-family: Poppins-Regular;
  font-weight: 400;
}
.textarea-p-g {
  width: 590px;
  /* min-width: 100px;
  width: 100%; */
  border-radius: 8px;
  background-color: #eff1f3;
  height: 66px;
  color: #00000080;
  font-size: 16px;
  padding: 10px;
  border: unset;
  box-sizing: border-box;
  font-family: Poppins-Regular;
  font-weight: 400;
}
.two-field-flex-p-g {
  display: flex;
  gap: 10px;
}
.img-detail-flex-p-g {
  max-width: 590px;
  min-width: 200px;
  width: 100%;
}
.gap-btw-10 {
  padding-top: 10px;
}
.buttons-save-cancel-p-g {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
  padding: 25px 0 0;
}
