.btn-twobtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
  }
  .btn-cancel,
  .btn-save {
    font-size: 16px;
    font-family: SemiBold;
    font-weight: 600;
    border-radius: 35px;
    cursor: pointer;
  }
  .btn-cancel {
    border: 1px solid #eff1f3;
    padding: 5px 14px;
  }
  .btn-save {
    color: #ffffff;
    padding: 5px 35px;
    background-color: #000000;
  }
  