.f-password-container{
    max-width: 1920px;
    min-width: 200px;
    width: 100%;
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
}
.forgate-container{
    background-color: white;
    width: 422px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 0px #0000001a; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    display: flex;
}
.forgate-container-in{
    
    width: 362px;
}
.forgate-logo-arrow{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    /* justify-content: space-between; */
}
.forgate-logo{
    text-align: center;
    margin: 0 auto;
}
.forgate-contain{
    text-align: justify;
    font-size: 16px;
    padding-bottom: 15px;
    color: rgba(113, 128, 150, 1);
  font-family: Poppins-Regular;
 


}
.forgate-input{
    background-color: #F3F5F7;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0 0 0 5px;
  
}
.forgate-email{
    padding: 30px 0;
}

@media screen  and (max-width:1024px){
    .forgate-container{
        box-shadow: none;
        padding: 25px 0 0 0;
    }
}

@media screen and (max-width:767px) {
    .forgate-container{
        width: unset;
    }
    .forgate-container-in{
        width: unset;
        padding: 30px 15px 0 15px;
    }
}