.support-align {
  max-width: 872px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  
}
.support-overflow{
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #aeaeae white;
  border-radius: 10px;
}

.support-outer-box{
  background-color: white;
    padding: 172px 0;
    border-radius: 10px;
}
.support-contact{
  height: 35px;
  width: 35px;
  background-size: cover;
  cursor: pointer;
  background-image: url("../../images/conphone.svg");
  border-radius: 10px;
}
.support-contact:hover{
  height: 35px;
  width: 35px;
  background-size: cover;
  background-image: url("../../images/phonecolor.svg");

}
.support-mail{
  height: 35px;
  width: 35px;
  background-image: url("../../images/emailicon.svg");
  background-size: cover;
}
.support-mail:hover{
  height: 35px;
  width: 35px;
  background-image: url("../../images/mailcolor.svg");
  background-size: cover;
}
.support-location{
  height: 35px;
  width: 35px;
  background-size: cover;
  background-image: url("../../images/locationicon.svg");
}
.support-location:hover{
  height: 35px;
  width: 35px;
  background-size: cover;
  background-image: url("../../images/mapcolor.svg");
}
.instagram-icon{
  height: 35px;
  width: 35px;
  background-size: cover;
  cursor: pointer;
  background-image: url('../../images/instablack.svg');
}
.instagram-icon:hover {
  background-image: url("../../images/instagram.svg");
  cursor: pointer;
}

.linkdin-icon{
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url("../../images/linkdin.svg");
  cursor: pointer;
}
.linkdin-icon:hover{
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url("../../images/linkdincolor.svg");
  cursor: pointer;
}
.facebook-icon{
  width: 35px;
  height: 35px;
  background-size: cover;
background-image: url("../../images/facebook.svg");
  cursor: pointer;
}
.facebook-icon:hover{
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url("../../images/facebookcolor.svg");
  cursor: pointer;
}
.support-inner-width {
  max-width: 330px;
  min-width: 100px;
  width: 100%;

  margin: 0 auto;
}
.contact-container {
  padding: 48px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-title {
  font-size: 20px;
 
  font-family: Poppins-Bold;

  margin-bottom: 20px;
}

.contact-details {
  margin-bottom: 20px;
}
.support-mail-p {
  padding: 30px 0;
}
.contact-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  gap: 15px;
  
  max-width: 236px;
  min-width: 100px;
  width: 100%;
  margin: 0 auto;
}
.contact-item span {
  font-size: 18px;
  font-family: Poppins-SemiBold;
  color: black;
}
.contact-item i {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.dividersupport {
  border: none;
  border-top: 1px dashed #ccc;
  margin: 20px 0;
}

.follow-title {
  font-size: 30px;
  font-family: Poppins-Bold;
  
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons i {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #28a745;
}
@media screen and (max-width:1024px) {
  .support-outer-box {
    
    /* padding: 172px 0; */
    padding: 15px;
    border-radius: 10px;
}

}

@media screen and (max-width:1024px) {
  .support-outer-box {
    
    /* padding: 172px 0; */
    padding: 7px;
    border-radius: 10px;
}
}