.my-container {
  width: 100%;
  display: flex;
  /* height: 100%; */
  gap: 45px;
}
.my-leftside {
  width: 52.6%;
  background-color: #ffffff;
  border-radius: 10px;
}
.my-rightside {
  width: 48.6%;
  background-color: #ffffff;
  border-radius: 10px;
}

/* leftside */
.my-menu {
  display: flex;
  margin: 20px 41px;
  gap: 37px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.my-menuitem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 154px;
  height: 34px;
  border: 1px solid #f1f4f6;
  border-radius: 35px;
  cursor: pointer;
  padding: 5px 10px;
}
.my-menuitem img {
  width: 18px;
  height: 18px;
}
.my-menuitem span {
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  white-space: nowrap;
}

/* upload section */
.my-container hr {
  margin: 0;
  padding: 0;
  border: 1px solid #0000000d;
}
.upload-section-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 68px;
}

.upload-box {
  text-align: center;
}

.upload-area {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 50%;
  position: relative;
  background: #f7f7f7;
}

.upload-area.rectangle {
  width: 145px;
  height: 90px;
  border-radius: 10px;
}

.upload-area.square {
  border-radius: 10px;
}

.upload-area input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-icon {
  font-size: 24px;
  color: #666;
  pointer-events: none;
}

.upload-box .my-topheading {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-family: Poppins-Regular;
  font-weight: 400;
}

.upload-box .my-small {
  font-size: 12px;
  color: #000000;
  font-family: Poppins-Regular;
  font-weight: 400;
  padding: 10px 0 6px 0;
  margin: 0;
}

.style-options {
  font-size: 10px;
  font-family: Poppins-Regular;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.style-options label {
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  gap: 3px;
}
.style-options input {
  margin: 0;
  padding: 0;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0.5px solid #000000;
  cursor: pointer;
  position: relative;
}
.style-options input[type="radio"]:checked {
  border-color: black;
}
.style-options input[type="radio"]:checked::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* form */

.my-allfiled {
  padding: 20px 68px 29px;
}
.my-fullwidth {
  width: 100%;
  margin-bottom: 10px;
}
.my-allfiled label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #000000;
}
.my-allfiled input,
.my-txtarea {
  width: 100%;
  border-radius: 8px;
  background-color: #eff1f3;
  height: 45px;
  color: #0000004d;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Poppins-Regular;
  font-weight: 400;
  border: none;
  /* outline: none; */
}
.my-txtarea {
  height: 80px;
  resize: none;
}

/* Button styling */
.my-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.my-cancel,
.my-save {
  /* padding: 10px 20px; */
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
}

.my-cancel {
  background-color: #ffffff;
  padding: 5px 14px;
  border: 1px solid #e2e2e2;
}

.my-save {
  background-color: #000;
  color: #fff;
  padding: 5px 35px;
}

/* right-side */
.my-priviewMain {
  text-align: center;
}
.my-priviewMain p {
  font-family: Poppins-Medium;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;
  padding: 0;
}
.my-priviewcard {
  width: 280px;
  height: 550px;
  border: 2px solid #eff1f3;
  margin: 0 auto;
  border-radius: 25px;
}
.my-prwbtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 183px;
  height: 34px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 35px;
  margin-top: 30px;
  cursor: pointer;
  padding: 5px 10px;
}
.my-prwbtn span {
  font-size: 16px;
  font-family: SemiBold;
  font-weight: 600;
  color: #ffffff;
}
.my-prwbtn img {
  width: 18px;
  height: 15px;
}
.my-menuitem.active {
  background-color: #000;
  /* font-weight: bold; */
  color: white;
}
.my-prvw-container {
  display: none;
}

@media (max-width: 1350px) and (min-width: 1025px) {
  .my-menu {
    margin: 21px 7px 20px;
    gap: 20px;
  }
  .my-allfiled {
    padding: 20px 22px 22px 23px;
  }
  .upload-section-container {
    padding: 20px 22px 21px 23px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 39px 90px;
  }
}

/* 1024 responsive */
@media (max-width: 1150px) {
  /* .sidebar {
    display: none;
  } */
  .my-leftside {
    width: 100%;
  }
  .my-rightside {
    display: none;
  }
  .e-sidediv {
    text-align: left;
  }
  .my-menu {
    margin: 20px 15px 21px;
    gap: 24px;
  }
  .upload-section-container {
    padding: 20px 22px 21px 23px;
  }
  .my-allfiled {
    padding: 20px 22px 22px 23px;
  }
  .my-prvw-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .my-prvw-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .my-container {
    flex-direction: column;
    gap: 20px;
  }
  .my-back-btnflex {
    display: flex;
    justify-content: center;
  }
  .my-back-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px 8px 5px 10px;
    font-family: Poppins-SemiBold;
    font-size: 16px;
    font-weight: 600;
    border-radius: 35px;
  }
  .my-back-btn svg {
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  .my-menu {
    margin: 21px 7px 20px;
    gap: 20px;
  }
  .upload-section-container {
    padding: 19px 7px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 39px 90px;
  }
  .my-allfiled {
    padding: 20px 7px 15px;
  }
  .my-back-btn {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 0;
    justify-content: center;
  }
  .my-back-btn span {
    display: none;
  }
}
