* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.div {
  padding-right: 25px;
  height: calc(100% - 4px);
}
.my-lead-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 5px solid rgba(239, 241, 243, 1);
  height: 100%;
  /* overflow-y: scroll;
  scrollbar-color: #ccc white;
  scrollbar-width: thin; */
}
.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid rgba(239, 241, 243, 1);
  border-top: 1px solid rgba(239, 241, 243, 1);
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 316px;
  padding: 18px 0;
}
.search-icon-lead {
  width: 35px;
  height: 33px;
  background-color: rgba(239, 241, 243, 1);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar .search-icon-lead {
  position: absolute;
  left: 3px;
  font-size: 18px;
  color: #888;
}

.search-bar input {
  width: 100%;
  padding: 9px 9px 9px 47px;
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid rgba(239, 241, 243, 1);
  border-radius: 10px;
  outline: none;
  /* height: 39px; */
}
.export-button {
  cursor: pointer;
  border: none;
  width: 94px;
  height: 43px;
  border-radius: 5px;
  background-color: rgba(239, 241, 243, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 16px 0;
}
.down-arrow {
  font-size: 24px;
  width: 15px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.down-arrow svg {
  transform: scale(1.1);
}
.export-btn {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 24px;
}

/* Lead Card CSS */

.lead-card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  padding: 20px 25px;
}
.lead-card {
  /* width: 23.13%; */
  width: 25%;
  background-color: rgba(239, 241, 243, 1);
  border-radius: 5px;
  padding: 10px;
}
.child-lead-card {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 39px 0;
}
.lead-card-title {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.lead-count {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  line-height: 27px;
}
.eye-bg-leads {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(239, 241, 243, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.eye-bg-leads {
  color: black;
}
/* <----- Leads Table css -----> */

.leads {
  padding: 0 25px 4px;
}
.leads-title {
  font-family: Poppins-SemiBold;
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 0px 25px;
}
/* .scroll{
  border:10px solid #eff1f3;
  height: 372px;
  border-radius: 5px;
} */
.scroll {
  position: relative;
  border: 10px solid #eff1f3;
  height: 372px;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.scroll::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #eff1f3;
  border-radius: 5px;
  pointer-events: none;
  box-sizing: border-box;
  /* width: 757px; */
}

/* .leads-box-bg {
  background-color: #eff1f3;
  height: 372px;
  border-radius: 5px;
  padding: 10px;
}
.leads-box-bg-white {
  background-color: white;
  border-radius: 5px;
  height: 372px;
} */

/* ----- table ----- */
.table-lead {
  padding: 0 40px;
  /* width: 100%; */
  /* overflow: hidden; */
  /* border-spacing: 0;
  border-collapse: separate;
  background-color: #fff;
  border-radius: 5px; */
}
/* td {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #eff1f3;
} */
.table-detail-info {
  text-align: center;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid #eff1f3;
}
.table-head-title {
  text-align: center;
  padding: 15px 8px 15px 0;
  /* margin: 0 15px; */
  border-bottom: 1px solid #eff1f3;
}
/* tr {
  border-bottom: 1px solid #eff1f3;
} */
.table-head-title {
  font-family: Poppins-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.n-t-w-l {
  width: 246px;
}
.padding-l-lead {
  padding-left: 40px;
}
.e-t-w-l {
  max-width: 381px;
  min-width: 50px;
}
.p-t-w-l {
  max-width: 257px;
  min-width: 50px;
}

.c-t-w-l {
  max-width: 239px;
  min-width: 50px;
}
.v-t-w-l {
  max-width: 189px;
  min-width: 50px;
}
.s-t-w-l {
  width: 51px;
}

.table-detail-info {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1250px) {
  .scroll {
    /* width: 856px; */
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .scroll::before {
    width: auto;
  }

  .n-t-w-l {
    max-width: 246px;
    min-width: 206px;
  }
  .e-t-w-l {
    max-width: 381px;
    min-width: 331px;
  }
  .p-t-w-l {
    max-width: 257px;
    min-width: 200px;
  }

  .c-t-w-l {
    max-width: 239px;
    min-width: 200px;
  }
  .v-t-w-l {
    max-width: 189px;
    min-width: 170px;
  }
  .s-t-w-l {
    width: 51px;
  }
}

@media (max-width: 1024px) {
  .div {
    padding-right: unset;
  }
}

@media (max-width: 768px) {
  .search-bar {
    max-width: unset;
    padding: 16px 0 0;
  }
  .n-t-w-l {
    max-width: 246px;
    min-width: 155px;
  }
  .lead-card {
    padding: 2px;
  }
  .lead-card-section {
    flex-wrap: wrap;
    padding: 20px 15px;
    gap: 20px;
  }
  .lead-card {
    width: 45.8%;
  }
  .search-section {
    flex-direction: column;
    align-items: unset;
    padding: 0 7px;
  }
  .right-export-btn-r {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end !important;
  }
  .leads {
    padding: 0 9px 4px;
  }
  .scroll {
    border: 2px solid #eff1f3;
  }
  .table-lead {
    padding: 0 16px;
  }
}

/* @media(max-width:1024px){
  .lead-card-section{
    flex-wrap: wrap;
  }
  .lead-card{
    width: 45%;
  }
} */
.table-container-lead {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.table-header-lead {
  display: contents; /* Use contents to allow children to flow in the grid */
}

.table-row {
  display: contents;
}

.table-cell {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

/* <--- TODAY(12-12-2024) ---> */

.leads {
  display: none;
}

.lead-table {
  border: 10px solid #eff1f3;
  /* padding: 10px; */
  /* height: 200px; */
  height: calc(100% - 400px);

  margin: 8px 25px;
  border-radius: 5px;
  background-color: #eff1f3;
}
.bg-w-try {
  background-color: white;
  border-radius: 5px;
  /* height: 200px; */
  height: calc(100% - 0px);
  overflow-y: scroll;
  scrollbar-width: thin;
}
.p-40 {
  padding: 15px 0 15px 40px;
  color: black !important;
}
.p-top-21 {
  padding: 22px 0 21px;
}
.p-top-15 {
  padding: 15px 15px 15px 0;
}
.try-lead,
.try-th,
.td-try {
  border-bottom: 1px solid #eff1f3;
  text-align: left;
}
.try-th {
  font-family: Poppins-Regular;
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: unset;
}
.td-try {
  font-family: Poppins-Regular;
  color: #00000080;
  font-size: 16px;
  line-height: 24px;
}
.try-lead {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 1024px) {
  .try-lead {
    width: 1000px;
    /* overflow-x: scroll; */
  }
  .lead-table {
    overflow-x: scroll;
  }
  .bg-w-try {
    width: 1000px;
  }
  .leads-title {
    padding: 0 0 0px 15px;
  }
}

@media (max-width: 768px) {
  .lead-table {
    border: 2px solid #eff1f3;
    height: 372px;
    margin: 8px 7px;
    border-radius: 5px;
    background-color: #eff1f3;
  }
  .leads-title {
    padding: 0 0 0px 7px;
  }
  .p-40 {
    padding: 15px 0 15px 15px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 14px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #eff1f3;
  background-color: #fff;
  border-radius: 5px;
}

.pagination li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 500;
}

.pagination li.active {
  /* background-color: #ffffff; */
}

.pagination li.active a {
  color: black;
  background-color: #d4d7db;
  font-weight: bold;
}

.pagination li a:hover {
  background-color: #d4d7db;
  border-radius: 5px;
}

.pagination li.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination li.break a {
  background-color: transparent;
  border: none;
  cursor: default;
}
