.n-f-c {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 45px;
  overflow-x: hidden;
}
.parent-div-of-cards-choose {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-n-f-c-card {
  width: 52.6%;
  height: 826px;
  background-color: white;
  border-radius: 10px;
  padding: 93px 0;
}
.choose-l-n-f-c {
  font-family: Poppins-Medium;
  font-size: 18px;
  line-height: 27px;
  padding: 0 0 15px;
}
.cards-l-n-f-c {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.standard-premium-creat-flex {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  gap: 29px;
}
.right-n-f-c-card {
  width: 44.47%;
  height: 826px;
  /* height: 100vh; */
  background-color: white;
  border-radius: 10px;
  padding: 93px 0;
}
.how-it-r-n-f-c {
  font-family: Poppins-Medium;
  font-size: 18px;
  line-height: 27px;
  padding: 0 0 15px;
}
.grey-b-o-x-nfc-how {
  width: 100%;
  /* height: 599px; */
  height: 960px;
  border-radius: 10px;
  background-color: rgba(239, 241, 243, 1);
}
.padding-grey-box {
  padding: 0 6.18%;
}

@media (max-width: 5000px) {
  .n-f-c {
    flex-direction: column;
    gap: unset;
  }
  .left-n-f-c-card {
    width: 100%;
    height: unset;
    padding: 50px 0;
    border-radius: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .right-n-f-c-card {
    width: 100%;
    height: 1052px;
    border-radius: unset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: unset;
    padding-bottom: 50px;
  }
  .grey-b-o-x-nfc-how {
    width: 709px;
  }
  .right-n-f-c-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .n-f-c {
    flex-direction: column;
    /* gap: 50px; */
  }
  .left-n-f-c-card {
    width: 100%;
    height: auto;
    padding: 50px 0;
  }

  .right-n-f-c-card {
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
  }
  /* .cards-l-n-f-c {
    gap: 8px;
  } */
  .standard-premium-creat-flex {
    gap: 8px;
  }
  .parent-div-of-cards-choose {
    padding: 0 15px;
  }
  .padding-grey-box {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .cards-l-n-f-c {
    flex-direction: column;
    /* gap: 15px; */
  }
  .standard-premium-creat-flex {
    flex-direction: column;
    gap: 15px;
  }
  .grey-b-o-x-nfc-how {
    max-width: 709px;
    min-width: 200px;
    width: 100%;
    position: relative;
  }
  .right-n-f-c-card {
    align-items: unset;
    justify-content: unset;
  }
}
