.voice-message {
    /* height: 88px; */
    /* border: 1px solid black; */
    margin-bottom: 15px;
  }
  .voice-heading {
    padding-bottom: 12px;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
  }
  .voice-div {
    height: 26px;
    border: unset;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
  }
  .duration {
    color: black;
    white-space: nowrap;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
  }

  .progress-bar {
    flex-grow: 1;
    background-color: #595959;
    height: 5px;
    border-radius: 5px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
  }
  
  .progress-bar-container {
    position: relative;
    width: 100%;
    height: 5px;
    background: #D9D9D9;
    border-radius: 5px;
  }
  
  .progress-dot {
    width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #595959;
      position: absolute;
      top: -3.5px;
      left: 0;
      cursor: pointer;
      transition: left 0.1s linear;
      margin-left: -3px;
  }
  .play-pause-button svg{
    fill:black;
    font-size: 22px;
  }
  .volume-btn svg{
    fill: black;
  }


  .custom-audio {
    margin-bottom: 10px;
  }
  
  .frequency-bars {
    display: flex;
    align-items: center;
  }
  
  .frequency-bar {
    width: 3px;
    height: 10px;
    background-color: black;
    border-radius: 1px;
    margin: 0 2px;
    animation: audio-frequency 1s infinite;
    animation-timing-function: ease-in;
  }
  
  .frequency-bar:nth-child(1) {
    animation-delay: 0s;
  }
  
  .frequency-bar:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .frequency-bar:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .frequency-bar:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .frequency-bar:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  @keyframes audio-frequency {
    0%, 100% {
      height: 10px;
    }
    50% {
      height: 25px;
    }
  }
  .frequency-bars {
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .frequency-bars.playing {
    opacity: 1;
    pointer-events: auto;
  }
  
  .freq-bg{
    background-color: white;
    height: 46px;
    margin-bottom: 10px;
  }
  .frequency-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 26px;
    padding: 10px 0;
    /* margin-bottom: 10px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* Static dots when audio is paused */
  .frequency-dot {
    width: 4px;
    height: 4px;
    margin: 0 1.5px;
    background-color: #050505;
    border-radius: 50%;
  }