@font-face {
  font-family: Poppins-Light;
  src: url("../src/Poppins/Poppins-Light.ttf");
  /* 300 */
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../src/Poppins/Poppins-Regular.ttf");
  /* 400 */
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../src/Poppins/Poppins-Medium.ttf");
  /* 500 */
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../src/Poppins/Poppins-SemiBold.ttf");
  /* 600 */
}
@font-face {
  font-family: Poppins-Bold;
  src: url("../src/Poppins/Poppins-Bold.ttf");
  /* 700 */
}

.App {
  display: flex;
  min-height: 100vh;
  background: rgba(239, 241, 243, 1);
  flex-direction: column;
}

/* Make the navbar fixed at the top */
.navbar-container {
  width: 100%;
  /* position: fixed; */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; Ensures it stays above other elements */
  z-index: 1;
}

/* Sidebar container styles */
.sidebar-container {
  display: flex;
  /* margin-top: 71px; Adjust for the navbar height */
  /* padding-left: 290px;  */
  /* padding-left: 360px;  */
  padding: 0 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px 0 20px 45px;
  overflow: hidden;
  /* margin-top: 60px; Adjust for fixed navbar */
}


@media (max-width: 1024px) {

  .main-content {
    padding: 20px 0 20px 0;
  }
  .sidebar-container {
    padding: 0 25px; /*Don't Toch this padding */
  }
}
@media (max-width: 768px) {
  .sidebar-container {
    padding: 0 10px; /*Don't Toch this padding */
  }
}
