.App {
  display: flex;
  min-height: 100vh;
  background: rgba(239, 241, 243, 1);
  flex-direction: column;
}

/* Make the navbar fixed at the top */
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures it stays above other elements */
}

/* Sidebar container styles */
.sidebar-container {
  display: flex;
  margin-top: 71px; /* Adjust for the navbar height */
  padding-left: 290px; /* Sidebar width offset */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Allows scrolling within main content */
  /* margin-top: 60px; Adjust for fixed navbar */
}
